
body {
    background-color: pink;
}
.text {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    color: purple;
}
#pageTitle {
    font-size: xx-large;
}
#welcomeMsg {
    font-size: large;
}
.buttons {
    text-align: center;
}
.image {
    text-align: center;
}