
body {
    background-color: pink;
}
.text {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    color: purple;
}
#pageTitle {
    font-size: xx-large;
}
#welcomeMsg {
    font-size: large;
}
.buttons {
    text-align: center;
}
#blush {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
#bronzer {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
#eyebrow {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
#eyeliner {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
#eyeshadow {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
#foundation {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
#lip_liner {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
#lipstick {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
#mascara {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
#nail_polish {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
}
.image {
    text-align: center;
}