/*Page Background Color*/
body {
    background-color: pink;
}
/*Text Style*/
.text {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    color: purple;
}
#pageTitle {
    font-size: xx-large;
}
#welcomeMsg {
    font-size: large;
}
/*Buttons Style*/
#buttons {
    text-align: center;
}  
 #blush,#bronzer,#eyebrow,#eyeliner,#eyeshadow,#foundation,#lip_liner,#lipstick,#mascara,#nail_polish {
    background-color: bisque;
    border:2px solid blueviolet;
    color:blueviolet;
    font-weight: bold;
} 
/*Image Style*/
.results{
    text-align: center;
}

}